@media (max-width: 992px) {
    .col-contacto-1 {
        width: 100%;
    }
    .last-card {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .col-filtros {
        padding-left: 40px;
        font-size: small;
    }
}

@media (min-width: 992px) {
    .med-display {
        display: none;
    }
}

@media (max-width: 1199px) {
    .title-popular-3 {
        font-size: 1.223499953rem;
    }
}

@media (min-width: 1400px) {
    .col-xxl-9 {
        flex: 0 0 auto;
        width: 75%;
        height: auto;
    }
}
