


@media (max-width: 767px) {
    .med-display {
        display: none;
    }
}

@media (max-width: 768px) {
    .col-filtros {
        display: none;
    }
}

@media (max-width: 768px) {
    .col-thumbnail {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .col-last {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .thumbnail {
        margin-top: 10px;
        margin: 10px;
    }
}

@media (max-width: 768px) {
    .page-title {
        text-align: center;
        padding: 20px;
    }
}


@media (max-width: 768px) {
    .text-prof {
        display: none;
    }
}

@media (max-width: 768px) {
    .btn-prof-div {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
}


