body {
  background-color: #f5deb3;
  font-family: "Secular One"; }

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
  height: auto; }

.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary); }
  .bs-icon-xs {
    --bs-icon-size: 1rem;
    width: calc(var(--bs-icon-size) * 1.5);
    height: calc(var(--bs-icon-size) * 1.5); }
  .bs-icon-sm {
    --bs-icon-size: 1rem; }
  .bs-icon-md {
    --bs-icon-size: 1.5rem; }
  .bs-icon-lg {
    --bs-icon-size: 2rem; }
  .bs-icon-xl {
    --bs-icon-size: 2.5rem; }
  .bs-icon-primary {
    color: #8a5119;
    background: #f5deb3; }
  .bs-icon .bs-icon-primary-light {
    color: var(--bs-primary);
    background: rgba(var(--bs-primary-rgb), 0.2); }
  .bs-icon .bs-icon-semi-white {
    color: var(--bs-primary);
    background: rgba(255, 255, 255, 0.5); }
  .bs-icon-rounded {
    border-radius: .5rem; }
  .bs-icon-circle {
    border-radius: 50%; }

.navbar {
  background-color: #8a5119; }
  .navbar-light .navbar-nav .nav-link {
    color: #f5deb3; }
    .navbar-light .navbar-nav .nav-link:focus {
      color: #ecbf6a; }
    .navbar-light .navbar-nav .nav-link:hover {
      color: #ecbf6a; }
    .navbar-light .navbar-nav .nav-link .active {
      color: #f5deb3; }
  .navbar-light .navbar-nav .show > .nav-link {
    color: #f5deb3; }

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: "Secular One";
  font-size: inherit;
  line-height: inherit; }

.btn-primary {
  color: #8a5119;
  background-color: #f5deb3;
  border-color: #8a5119; }
  .btn-primary:hover {
    color: #8a5119;
    background-color: #ecbf6a;
    border-color: #8a5119; }

.btn-primary .active {
  color: #fff;
  background-color: #8a5119;
  border-color: #5c2f04; }

.btn-primary:active {
  color: #fff;
  background-color: #8a5119;
  border-color: #5c2f04; }

.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #8a5119;
  border-color: #5c2f04; }

.p-4 {
  padding: 1rem; }

.text-muted {
  --bs-text-opacity: 1;
  color: #000000 !important; }

ul a {
  text-decoration: none; }

.link-light:focus {
  color: #ecbf6a; }

.link-light:hover {
  color: #ecbf6a; }

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: #8a5119 !important; }

.card-pages {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
  height: auto;
  width: 300px;
  /*CSS QUE CONTROLA STYLES DE LAS TARJETAS THUMBNAILS*/ }

.page-link {
  position: relative;
  display: block;
  color: #8a5119;
  text-decoration: none;
  background-color: #f5deb3;
  border: 1px solid #8a5119;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; }
  .page-link:hover {
    z-index: 2;
    color: #8a5119;
    background-color: #ecbf6a;
    border-color: #8a5119; }

.pagination-button {
  background-color: #8a5119; }

.btn-filtros {
  background-color: #8a5119;
  color: #f5deb3; }
  .btn-filtros:hover {
    background-color: #ecbf6a;
    color: #f5deb3; }

.list-group-item {
  position: relative;
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125); }

.dropdown-menu.show {
  display: flex;
  flex-direction: column; }

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: .5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: .25rem; }
  .dropdown-menu[data-bs-popper] {
    top: 100%;
    margin-top: .125rem;
    right: 0;
    left: 25%; }

.btn-idiomas-mobile {
  background-color: #fff;
  color: #000000;
  border: solid 2px #000000; }
  .btn-idiomas-mobile:hover {
    background-color: var(--bs-gray-500);
    color: #000000; }

.btn-filtros-mobile {
  background-color: #8a5119;
  color: #f5deb3;
  width: 100%; }

.btn-check:active {
  color: #fff;
  background-color: #8a5119;
  border-color: #5c2f04; }

.btn-check:checked {
  color: #fff;
  background-color: #8a5119;
  border-color: #5c2f04; }

.prof-thumbnail {
  flex-direction: row;
  background-color: #fff;
  width: 100%;
  height: auto; }

.prof-img {
  width: 30% !important; }

.prof-card-body {
  width: 60%; }

.col-contacto-1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; }

.input-contacto {
  border: solid 2px #ecbf6a;
  border-radius: 5px; }

.drop-contacto {
  width: 100%;
  left: 0 !important;
  right: 0 !important; }

.label-contacto {
  margin: .5rem 0 0 0; }

.img-contacto {
  width: 100%; }

.col-img-contacto {
  align-items: center;
  display: flex; }

.iframes-div {
  display: flex;
  margin-bottom: 10px; }

.fit-cover {
  object-fit: cover; }

@media (max-width: 992px) {
  .col-contacto-1 {
    width: 100%; }
  .last-card {
    display: none; } }

@media (min-width: 768px) and (max-width: 992px) {
  .col-filtros {
    padding-left: 40px;
    font-size: small; } }

@media (min-width: 992px) {
  .med-display {
    display: none; } }

@media (max-width: 1199px) {
  .title-popular-3 {
    font-size: 1.223499953rem; } }

@media (min-width: 1400px) {
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
    height: auto; } }

@media (min-width: 768px) {
  .small-display {
    display: none; } }

@media (min-width: 769px) {
  .col-filtros {
    padding-top: 25px; } }

@media (min-width: 769px) {
  .col-thumbnail {
    justify-content: space-evenly;
    margin-left: 10px;
    padding: 10px; } }

@media (min-width: 769px) {
  .page-title {
    padding: 30px 0 30px 79px; } }

@media (min-width: 769px) {
  .filtros-mobile {
    display: none; } }

@media (min-width: 768px) {
  .text-prof {
    font-size: 0.9vw; } }

@media (min-width: 769px) {
  .btn-prof-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px; } }

@media (min-width: 769px) {
  .btn-prof {
    margin: 0px 5px 0px 5px; } }

@media (max-width: 992px) {
  .col-contacto-2 {
    display: none; } }

@media (max-width: 991px) {
  .large-display {
    display: none; } }

@media (max-width: 767px) {
  .med-display {
    display: none; } }

@media (max-width: 768px) {
  .col-filtros {
    display: none; }
  .last-card {
    display: flex; }
  .card-pages {
    margin: 10px 0px 10px 0px; }
  .col-thumbnail {
    flex-direction: column;
    align-items: center; }
  .col-last {
    display: none !important; }
  .thumbnail {
    margin-top: 10px;
    margin: 10px; }
  .page-title {
    text-align: center;
    padding: 20px; }
  .text-prof {
    display: none; }
  .btn-prof-div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center; } }

@media (max-width: 500px) {
  .prof-thumbnail {
    flex-direction: column; }
  .prof-img {
    width: auto !important; }
  .prof-card-body {
    width: auto; } }
